okvirstranice{
}

body{
	background-image: url('pozadinau.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	font-family: sans-serif;
	margin: 0;
    padding: 0;
}

#naslov > p{
	font-size: 45px;
	font-family: arial;
	text-align: center;
	color: white;
	background-image: url('pozadina.jpg');
	padding-bottom: 3%;
	padding-top: 3%;
	margin: 0px;
	transition: 2s ease-in-out;
}
#naslov p:hover{
	letter-spacing: 20px;
	color: #1a1aff;
	text-shadow: 0px 24px 10px white;
}

.logo {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float:left;
  margin-right:3%;
  margin-left: 15%;
  margin-top: 1%;
  padding: 7px;
  border-top: 7px solid black;
  border-right: 7px solid #0000cc;
  border-bottom: 7px solid black;
  border-left: 7px solid #0000cc;
  -webkit-border-radius: 0 35px;
  border-radius: 0 35px;
  font: normal 33px/1 Georgia, serif;
  color: #0000b3;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 7px 10px 11px 4px #b3b3ff;
  box-shadow: 7px 10px 11px 4px #b3b3ff;
  text-shadow: 10px 7px 6px #4d4dff;
  transition: 3s ease-in-out;
}
.logo:hover{
	transform: rotate(-360deg);
	background-color:#8080ff;
	border-top: 7px solid #0000cc;
	border-right: 7px solid black;
	border-bottom: 7px solid #0000cc;
	border-left: 7px solid black;
	-webkit-box-shadow: 7px 10px 11px 4px #00004d;
	box-shadow: 7px 10px 11px 4px #00004d;
	color: white;
}
.logo1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float:right;
  margin-left:3%;
  margin-right:15%;
  margin-top:1%;
  padding: 7px;
  border-top: 7px solid black;
  border-right: 7px solid #0000cc;
  border-bottom: 7px solid black;
  border-left: 7px solid #0000cc;
  -webkit-border-radius: 0 35px;
  border-radius: 0 35px;
  font: normal 33px/1 Georgia, serif;
  color: #0000b3;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 7px 10px 11px 4px #b3b3ff;
  box-shadow: 7px 10px 11px 4px #b3b3ff;
  text-shadow: 10px 7px 6px #4d4dff;
  transition: 3s ease-in-out;
}
.logo1:hover{
	transform: rotate(360deg);
	background-color:#8080ff;
	border-top: 7px solid #0000cc;
	border-right: 7px solid black;
	border-bottom: 7px solid #0000cc;
	border-left: 7px solid black;
	-webkit-box-shadow: 7px 10px 11px 4px #00004d;
	box-shadow: 7px 10px 11px 4px #00004d;
	color: white;
}

hr{
    height: 1%;
    border: 0;
    box-shadow: inset 0 12px 12px -12px #000033;
}
#meni{
	background-color: white;
}
#meni > ul{
	list-style: none;
	vertical-align: middle;
	text-align: center;
	font-size: 21px;
	background-color: white;
	margin: 0;
	padding-top:4%;
	padding-bottom:3%;
}

#meni > ul > li{
	display: inline;
	font-weight: bold;
	padding-right: 2%;
}

a:link {
    text-decoration: none;
}

#novosti{
	max-width:100%;
	border-collapse: collapse;
}

#novosti .novost:nth-child(odd){
	width:40%;
	float:left;
	margin:3%;
	text-align:justify;
	border-collapse: collapse;
	border: solid 2px white;
	box-shadow: 5px 5px 5px 5px black;
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
}
#novosti .novost:nth-child(even){
	width:40%;
	float:right;
	margin:3%;
	text-align:justify;
	border-collapse: collapse;
	border: solid 2px white;
	box-shadow: 5px 5px 5px 5px black;
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
}
#novosti p{
	border-collapse: collapse;
	border-top: solid 1px white;
	padding: 2%;
	color: #ffff00;
}
h4{
	text-align:center;
	color:white;
}
img{
	width:100%;
	height:55%;
}
.ocisti{
	clear:both;
    line-height:0;
}

#odabir{
	text-align: center;
}

#meniNovosti{
	border: solid 6px #809fff;
	border-radius: 15%;
}

.datumObjave{
	text-align: right;
}

.hiddenDatum{
	display: none;
}
