.navbar {
    height: 30px;
}
.navbar > tr, td, .active {
    background: #005EB8;
    color: white;
}

.navbar > table, tr, td{
    background: white;
    color: #005EB8;

    border: 1px solid #005EB8;
    height: 100%;
}

.navbar > table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
a:visited, a:link{
    color: inherit;
}

#header {
    width: 100;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

#logo-cell {
    align-content: right;
}

#header td{
    border: none;
}

#index-logo {
    height: 60px;
    width: 50px;
}
#index-logo .logo-scaled-line-bot {
    left: 22%;
    top: -37%;
}
#admin-text {
    text-align: left;
}
