.form-wrapper {
    margin: 0 auto;
    margin-top: 150px;
    width: 100%;
    background: #00A9E0;
    width: 300px;
    padding: 10px;
}
.form-wrapper table td {
    border: none;
    overflow: hidden;
    width: 100%;
    background: #00A9E0;
    color: white;
    text-align: center;
}
.button-cell {
    text-align: right;
}
