/* Styles go here */


.cover {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
    margin-bottom: 3px;
  max-height: 500px;
  max-width: 100%;
    background-image:url(pozadinska.jpg);
}


.logo{
	position:absolute;
	left: 10px;
	top: 10px;
}

#cvijet{
	width: 25px; 
	height: 25px;
	background-color: #8F7752;
	border-radius: 12.5px;
	position: absolute;
}

#sredina{
	width: 12.5px; 
	height: 12.5px;
	background-color: #3C2C27;
	border-radius: 6.25px;
	position: absolute;
	top: 7.25px;
	left: 7.25px;
	z-index: 1;
}

#latica1{
	width: 12.5px; 
	height: 12.5px;
	background-color: #8F7752;
	border-radius: 6.25px;
	position: absolute;
	left: -1.5px;
}

#latica2{
	width: 12.5px; 
	height: 12.5px;
	background-color: #8F7752;
	border-radius: 6.25px;
	position: absolute;
	left: 16px;
}

#latica3{
	width: 12.5px; 
	height: 12.5px;
	background-color: #8F7752;
	border-radius: 6.25px;
	position: absolute;
	left: -1.5px;
  top:14px;
	overflow:hidden;
}

#latica4{
	width: 12.5px; 
	height: 12.5px;
	background-color: #8F7752;
	border-radius: 6.25px;
	position: absolute;
	left: 16px;
	top:14px;
}

#latica5{
	width: 12.5px; 
	height: 12.5px;
	background-color:#7D6741;
	border-radius: 6.25px;
	position: absolute;
	left: 7px;
	top: -2.75px;
}

#latica6{
	width: 12.5px; 
	height: 12.5px;
	background-color:#7D6741;
	border-radius: 6.25px;
	position: absolute;
	left: 7.5px;
	top: 18px;
}
#latica7{
	width: 12.5px; 
	height: 12.5px;
	background-color:#7D6741;
	border-radius: 6.25px;
	position: absolute;
	top: 7.25px;
	left: -2.5px;
}

#latica8{
	width: 12.5px; 
	height: 12.5px;
	background-color:#7D6741;
	border-radius: 6.25px;
	position: absolute;
	left:17.25px;
	top: 7.25px;
}
body {
background-color:#543322;
  background-size: cover;
   padding:0px;
   margin:0px;
  background-repeat: repeat-y;
  height: 100%;
     font-family:  'Roboto';
    font-weight:100;
    font-size:13px;
}
.imageblur{
  background-image:url(pozadinska.jpg);
    background-size:cover;
    -webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(13px);
    position:absolute;
    z-index: -1;
    width:100%;
    height:100%;
}
.ostalo{
   position:absolute;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(13px);
    filter: blur(0px);
}
.center {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  /* fallback color */
  rgba(0,0,0,0.1);
  padding: 200px;
}

.newsleft {
  background: rgba(0, 0, 0, 0.4);
  width: 41%;
  float: left;
  height: 100%;
  color: #B0997D;
}

.newsright {
  background: rgba(0, 0, 0, 0.4);
float:left;
  height: 100%;
  width: 41%;
  color: #B0997D;
 
}
#dropdown{
    width:100%;
}
#dropdownSort{
    width:100%;
}
#headlinearea{
    width:100%;
}
#contentarea{
     width:100%;
}
#imagearea{
     width:100%;
}
#country{
     width:100%;
}
#telephone{
     width:100%;
}
label{
    
  color:white;
  font-size:18px;
  text-align: center;
}
.datelabel{
    text-align:left;
    color:#B0997D;
    font-size:13px;
    margin-bottom: 0;
    padding-bottom:0;
    margin-top:10px;
}
#addnewsbutton{
    
width: 100%;
  border: #fbfbfb solid 3px;
  background-color: gray;
  color: white;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
#sortAbutton{
    
width: 100%;
  border: #fbfbfb solid 3px;
  background-color: gray;
  color: white;
  font-size: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#sortDbutton{
    
width: 100%;
  border: #fbfbfb solid 3px;
  background-color: gray;
  color: white;
  font-size: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
.addnews {
    float:right;
    width:18%;
    padding:2%;
}
#addnewsbutton:hover {
  background-color: rgba(0, 0, 0, 0);
  
}
#loginbutton{
    
    width: 100%;
  border: #fbfbfb solid 3px;
  background-color: gray;
  color: white;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#loginbutton:hover {
  background-color: rgba(0, 0, 0, 0);
  
}

#logoutbutton{
    
    width: 100%;
  border: #fbfbfb solid 3px;
  background-color: gray;
  color: white;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#logoutbutton:hover {
  background-color: rgba(0, 0, 0, 0);
  
}
.post>h3 {
  width: 100%;
  color: #6F5A42;
    margin-top:0;
    padding-top:0;
    padding-bottom:0;
    margin-bottom:0;
}


.post {
  display: table-row;
}

.newsicon {
  float: left;
  margin: 10px 10px 10px 20px;
  padding: 4px;
  background: #fff;
  left: 0px;
  border: 0.5px;
     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.post:hover img {
    -webkit-filter: sepia(100%);
}
.post {
  display: table-row;
}

.newsicon {
  float: left;
  margin: 10px 10px 10px 20px;
  padding: 4px;
  background: #fff;
  left: 0px;
  border: 0.5px;
}

#smaller {
  width: 100%;
  color: #DCC8BA;
    font-size:50px;
}

#larger {
  font-size: 100px;
  color: 	#F8FAF7;
}

ul {
  position: relative;
  z-index: 1000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

li {
  float: left;
}
.cvjetic:hover{
  background-color:transparent;
}
li a {
  display: block;
  color: #B0997D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
span{
    margin:0;
}

/* Change the link color to #111 (black) on hover */
.pomlabel{
    display: none;
}
li a.tekst:hover {
    color:#DCC8BA;

}

.active {
  background-color: #4CAF50;
}

* {
  box-sizing: border-box;
}