/*----------pocetna-------------*/

*{
	margin: 0px;
	box-sizing: border-box;
	padding-left: 0px;
}

#container {
	min-width: 1366px;
}

html {
	position: relative;
	min-height: 100%;
}

body{
	/*background-image: url("http://static.nfl.com/static/content/public/static/img/head/feb-24-2016-background.jpg");*/
	/*background-color: white;*/
	/*background-image: url("https://newevolutiondesigns.com/images/freebies/white-wallpaper-18.jpg")*/
	background-color: #F8F8F8;
	min-height: 100%;
}

header{
	padding-left: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #282828;
}

a.tim {
	text-decoration: none;
}

.tim > img {
	padding-left: 3px;
	padding-right: 3px;
	height: auto;
	width: auto;
	max-width: 30px;
	max-height: 30px;
}

nav {
	width: 100%;
	background-color: #B8B8B8;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey
}

ul {
    width: 60%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
}

nav > ul > li {
    display: inline-block;
    height: inherit;
}

.nav {
    text-decoration: none;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #383838;
    font-size: 15px;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
}

#vijesti_filter {
	height: 100%;
	border: 1px #B8B8B8;
	display: inline-block;
	height: inherit;
	background: #B8B8B8;
	color: #383838;
    font-size: 15px;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
}

#vijesti_filter:hover, #vijesti_filter:active {
	color: white;
    background-color: #000066;
}

#title > h2 {
	position: absolute;
    left: 60px;
    top: 49px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
}

.nav:hover, .nav:active {
	color: white;
    background-color: #000066;
}

#featured_news {
	width: 97.5%;
	margin-left: 1%; 
	background-color: #D0D0D0;
	height: 460px;
}

#content > section > #featured_news > img {
    width: 100%;
    max-height: 320px;
}

#content > section > article > img {
    width: 100%;
    max-height: 170px;
    margin-bottom: 10px;
}

#content {
    font-family: sans-serif;
    width: 60%;
    margin: auto;
    margin-top: 10px;
}

#content > section {
	width: 70%;
    float: left;
    margin-bottom: 40px;
}

#content > section > article {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
    text-align: justify;
}

#content > section > article p {
    line-height: 115%;
    font-size: 13px;
}

.other_news {
	background-color: #E0E0E0;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
    width: 48%;
    display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
    vertical-align: top;
    height: 370px;
}

.published {
	position: relative;
	font-family: sans-serif;
    font-size: 10px;
    color: #888888;
}

aside > img {
	width: 100%;
	max-height: 250px;
}

#content > aside {
	border: 1px solid lightgrey;
	width: 27%;
	float: right;
	margin-left: 2%;
}

#content > aside > h3 {
	font-family: "Comic Sans MS", sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}


#content > aside > ul > li {
	font-size: 11px;
	text-align: left;
}

#content > form > input {
	background-color: #B8B8B8;
	float: left;
	margin-bottom: 1%;
	margin-left: 0.9%;
	width: 33.6%;
	height: 3%;
	color: #383838;
    font-size: 15px;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
}

footer {
	width: 100%;
    clear: both;
	background-color: #B8B8B8;
    text-align: right;
    font-family: sans-serif;
    font-size: 10px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid lightgrey;
    position: fixed;
    bottom: 0px;
    color: dimgray;
    z-index: 10;
    height: 3em;
}

/*----------logo-------------*/

#wrap {
	opacity: 0.9;
  	height: 90px;
  	width: 75px;
	background: #000066;
	position: absolute;
	overflow: hidden;
	border-top-right-radius: 15%;
	border-top-left-radius: 15%;
	border-bottom-right-radius: 80%;
	border-bottom-left-radius: 80%;
	margin-left: 180px;
	margin-top: 50px;
}

#n_left {
	position: absolute;
	left: 5.25px;
	top: 6.75px;
	width: 3.75px;
	height: 22.5px;
	background-color: #D80000;
}

#n_center {
	position: absolute;
	transform: rotate(150deg);
	left: 10.75px;
	top: 3px;
	width: 3.75px;
	height: 30px;
	background-color: #D80000;
}

#n_right {
	position: absolute;
	left: 18px;
	top: 3.75px;
	width: 3.75px;
	height: 26.25px;
	background-color: #D80000;
}

#f_left {
	position: absolute;
	left: 30px;
	top: 3.75px;
	width: 3.75px;
	height: 30px;
	background-color: #D80000;
}

#f_bottom {
	position: absolute;
	left: 27.75px;
	top: 33.75px;
	width: 7.5px;
	height: 3.75px;
	background-color: #D80000;
}

#f_top1 {
	position: absolute;
	left: 33.75px;
	top: 3.75px;
	width: 15px;
	height: 3.75px;
	background-color: #D80000;
}

#f_top1_add {
	position: absolute;
	left: 45px;
	top: 7.5px;
	width: 3.75px;
	height: 3.75px;
	background-color: #D80000;
}

#f_top2 {
	position: absolute;
	left: 33.75px;
	top: 18.75px;
	width: 10.75px;
	height: 3.75px;
	background-color: #D80000;
}

#f_top2_add {
	position: absolute;
	left: 45px;
	top: 16.875px;
	width: 3.75px;
	height: 7.5px;
	background-color: #D80000;
}

#l_left {
	transform: rotate(170deg);
	position: absolute;
	left: 56.25px;
	top: 3.75px;
	width: 3.75px;
	height: 26.25px;
	background-color: #D80000;
}

#l_bottom {
	transform: rotate(170deg);
	position: absolute;
	left: 60px;
	top: 26.25px;
	width: 12.75px;
	height: 3.75px;
	background-color: #D80000;
}

#b_top_outer {
	position: absolute;
	left: 27px;
	top: 46.5px;
	width: 18px;
	height: 18.75px;
	background-color: #A8A8A8;
	border-radius: 30%;
}

#b_top_inner {
	position: absolute;
	left: 27px;
	top: 50.25px;
	width: 14.25px;
	height: 10.75px;
	background-color: #000066;
	border-radius: 30%;
}

#b_bottom_outer {
	position: absolute;
	left: 27.75px;
	top: 63.75px;
	width: 18.75px;
	height: 18px;
	background-color: #A8A8A8;
	border-radius: 30%;
}

#b_bottom_inner {
	position: absolute;
	left: 27.75px;
	top: 67.5px;
	width: 15px;
	height: 10.5px;
	background-color: #000066;
	border-radius: 30%;
}

#b_left {
	position: absolute;
	left: 27px;
	top: 46.5px;
	width: 3.75px;
	height: 35.25px;
    background-color: #A8A8A8;
}


/*----------linkovi-------------*/

#links {
	width: 26%;
    margin: auto;
    margin-left: 305px;
	margin-top: 10px;
}

#links > h2 {
	font-size: 50px;
	margin-left: 15px;
	font-family: "Georgia", serif;
}

#links > ul {
	margin-left: 30px;
	list-style-type: none;
}

#links > ul > li {
	margin-top: 12%;
	margin-bottom: 12%;
	font-size: 25px;
	font-family: "Georgia", serif;
}

#links > ul > li:hover {
	list-style-image: url("http://rltshows.com/images/football_small.jpg");
}

/*---------timovi----------*/

#timovi {
	font-family: sans-serif;
	width: 60%;
	margin: auto;
	margin-top: 10px;
	table-layout: fixed;
}

#timovi > table, tr, th, td {
	width: 100%;
	text-align: center;
	border: 3px solid black;
	border-collapse: collapse;
	padding: 7px;
}

#konferencije {
	font-size: 30px;
}

#afc {
	color: red;
}

#nfc {
	color: blue;
}

#divizije {
	font-size: 25px;
}

.parni {
	font-size: 20px;
	background-color: #A8A8A8;
	color: #000066;
}

.neparni {
	font-size: 20px;
	background-color: #000066;
	color: #A8A8A8;
}

/*--------kontakt---------*/

#formaKontakt > form {
	font-family: sans-serif;
	text-align: center;
	margin-top: 50px !important;
	margin: auto;
	width: 50%;
	background-color: #A8A8A8;
}

#formaKontakt > form > label, input, textarea {
	width: 50%;
	display: block;
	margin: auto;
}

#formaKontakt > form > textarea {
	max-width: 50%;
	max-height: 200px;
	height: 200px;
}

#posaljiBtn {
	width: 50%;
	height: 50px;
	margin-bottom: 3%;
}


/*----------------Login-------------*/

#formaLogin > form
{
    margin-top: 5% !important;
	margin:auto;
	width: 25%;
	background-color: #A8A8A8;
}


#formaLogin > form > input[type="text"], input[type="password"] 
{
	border-radius: 3px;
    border: 2px solid #000066;
    line-height: 31px;
    width: 50%;
    display: block;
	margin: auto;
    color: black;  
}

#prijava
{
	border-radius: 3px;
	border: 2px solid #000066;
    line-height: 31px;
	background-color: #000066;
	width: 50%;
    display: block;
	margin: auto;
    color: white;
}

#formaLogin > form > h4
{
	color: black;
    text-align: center;
}


/*--------------Nova vijest--------------------*/

#formaVijest > form {
	font-family: sans-serif;
	text-align: center;
	margin-top: 50px !important;
	margin-bottom: 100px !important;
	margin: auto;
	width: 50%;
	background-color: #A8A8A8;
}

#formaVijest > form > label, input, textarea {
	width: 50%;
	display: block;
	margin: auto;
}

#formaVijest > form > textarea {
	max-width: 50%;
	max-height: 200px;
	height: 200px;
}

#dodajBtn {
	width: 50%;
	height: 50px;
	margin-bottom: 3%;
}

#drzava{
	width: 50%;
	display: block;
	margin: auto;
}
