body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:  aliceblue;
    margin: 0;
	padding: 0;
    padding-bottom: 5%;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;   
    height: 100%;
}


h1, h2, h3, h4, h5, h6 {
		color: midnightblue;
		font-weight: 300;
		line-height: 1em;
		margin: 0 0 0.5em 0;
	}
h1 {
    text-align: center;
}

h2 {
     font-size: 2.25em; 
    color: midnightblue;
    letter-spacing: -0.035em;

}

h2.centrirano {
       margin-left: 3%;   

}

h3 {
    font-size: 1.75em;
    line-height: 1.5em;
	letter-spacing: -0.025em;
}

h3.centrirano {
    
    text-align: center;   
}

#glavniNaslov {
    padding: 1%;
}
#usernamePoruka{
    color:aliceblue;
    float:right;
    margin:2%;
    font-size: 1.5em;
}

#header {
    background-color:  midnightblue;
    position: relative;
    top: 0px;
    height: auto;
    min-height: 230px;
    width: 100%; 
    padding-top: 0;
    clear: both;
}


#header > h1 {
    color: azure;
    font-size: 2.2em;
    text-align: left;
    margin-left: 3%;
    display: block;
    clear: both;
    
    
}



#menu > ul {
   list-style:  none;
   position: relative;
   float: right;
   margin-right: 1%;
   margin-left: 3%;
   margin-top: 3%;

  
}


#menu > ul > li {
    display: inline-block;
       
    border-radius: 8px;
    border-style:  dotted;
    border-width: 2px;
    border-color: azure;
    
    padding: 7px;
    margin: 0px;
    width: 150px;
    text-align: center;
    
}

#menu > ul > li>a {
    text-decoration: none;
    border: none;    
}
#menu > ul > li:hover {
    border: none;
}


a{
    color: azure;
    text-decoration: none;
    border-bottom: dotted;
    border-bottom-width: 2px;
}
a:hover {
	border-bottom-color: transparent;
}

#login{
    
}
#login > a {
    text-decoration:none;
    border:none;
    color:azure;
    font-size:1.2em;
    float:right;
    margin: 2%;
    margin-bottom:0%;
    margin-top:1%;
    clear:both;
    display:inline-block;

}


#okvir {
    margin-left: auto;
    margin-right: auto;
}

.novosti {
    background: lightsteelblue;
    border: 4px solid midnightblue; 
    width: 45%;
    float:  left;
    padding: 1em;
    margin: 1.7em;
    border-radius: 8px;
    box-shadow: 0 2px 0 0 #e5e5e5;
    text-align: center;
   
}

.novosti > img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 270px;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 1.5em;
}





#forma, .linkovi {
    width: 50%;
    border: 4px solid midnightblue; 
    border-radius: 20px;
    padding: 12px;
    padding-left: 14px;
    background-color: lightsteelblue;
    position: relative;
    left: 25%;
    right: 25%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
     
    
      
}
#forma * {
        display: block;
}

#forma > label {
   font-size: 1.4em;
   color: midnightblue;
}

#forma > input, textarea {
    width: 95%;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 10px 16px;
    border: 2px solid midnightblue;
    border-radius: 4px; 
    font-size: 1em;
    background: azure;
}

#forma > textarea {
    max-width: 95%;
    height: 150px;
    resize: none;
}


#forma > button {
   width: 40%;
   background-color: midnightblue;
   color: azure;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 1.4em;
   cursor: pointer;
   position: relative;
   left: 30%;
   right: 30%;
   border-radius: 6px;
   border-color: #e5e5e5;
}

#forma > button:hover {
    border-color: midnightblue;
}
#login{
    width: 50%;
    float:right;
    margin-top: 1%;
    margin-right:2%;
}

#loginForma{
    
    
    border: 4px solid midnightblue;
    border-radius: 20px;
    padding: 8px;
    background-color: lightsteelblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);

}

.logo {
    width: 260px;
    height: 100px;
    border: 3px solid midnightblue;
    background: white;
    position: relative;
    margin: 2%;
    margin-top: 3%;
    margin-left: 3%;

    float: left;


}

.logoSlovoI {
    width: 12%;
    height: 80%;
    background: midnightblue;
    float: left;
    margin: 8px;
}

.logoSlovoE {
    width: 24%;
    height: 80%;
    background: midnightblue;
    margin: 8px;
    margin-left: 0;
    float: left;
}

.logoPrazno1 {
    height: 15%;
    width: 70%;
    background: white;
    position: relative;
    left: 20px;
    top: 20px;
}

.logoPrazno2 {
    height: 15%;
    width: 70%;
    background: white;
    position: relative;
    left: 20px;
    bottom: -35px;

}

table {
    width: 50%;
    border: 4px solid midnightblue; 
    border-radius: 20px;
    padding: 12px;
    background-color: lightsteelblue;
    position: relative;
    left: 25%;
    right: 25%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
	border-spacing: 0;
    
}

thead {
    color: azure;
    background: midnightblue;
    font-size: 1.2em;
    text-transform: uppercase;
}

tbody {
    color: midnightblue;
    font-size: 1.2em;
}

.parni {
    background: #d0efff;
}

.linkovi {
    padding: 5%;

}

.linkovi > ol > li {
    font-size: 1.8em;
    list-style: none;
}

.linkovi > ol > li:hover {
        list-style:  none;
    list-style-image: url("icon.png");

    
}

.datumObjave{
    font-size: 0.86em;
    color: lightslategray;
    float: right;
    clear: left;
}


#filterNovosti{
    font-size: 1.2em;
    color: lightslategray;
       width: 100%;
       float: right;
       clear:both;
       padding-left: 5%;
       margin-bottom: 1%;
    display: inline;
    /*border: 1px solid midnightblue;*/
}

.filterDatum{ display: none; }

button{
   background-color: midnightblue;
   color: azure;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 1em;
   width: auto;
   cursor: pointer;
   border-radius: 6px;
   border-color: #e5e5e5;
   padding: 0.5%;
   margin-left: 1%;
   
}
button:hover {
    border-color: midnightblue;
}

#forma > #brPozivni {
    width: 15%;
    float:left;
    margin-right: 2%;
}
#forma > #brTelefona {
    width: 60%;
    float:left;
}

* { 
box-sizing: border-box;
}