.forma
{	
    color: yellow;
    background-color: blue;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20%;
    padding: 38px 70px 28px 38px;
    width: 260px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
}
#labela1
{	
	color:yellow;
    padding: 3px 6px 13px 62px;
}
#labela2
{	
	color:yellow;
    padding: 3px 6px 13px 62px;
}
#labela3
{	
	color:yellow;
    padding: 3px 6px 13px 62px;
}
#dugme
{	
    display: flex;
    margin-left: 100px;
}

.formaZaLogin
{	
    color: yellow;
    background-color: blue;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20%;
    padding: 38px 70px 28px 38px;
    width: 160px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
}