
body
{
	background-image: url('pozadina.png');
    height:auto;
}

.Menu{
	margin-left: auto;
    margin-right: auto;
    width: 800px;
	margin-top: 90px;
}

.Menu li
{
	display: inline;
    float: left;
    padding: 10px 10px 10px 35px;
    margin: 0px 0 0 0px;
	font-family: cursive;
	
}

.Menu li a{
	color:white;
	text-decoration:none;
	
}

/*.Vijesti1 
{
	position: relative;
    top: 26px;
    left: 60px;
    background-color: #0012CA;
    padding: 10px 10px 1000px 5px;
    color: white; 
	border: 2px solid black;
    width: 35%;
	height:777px;
	display:inline-block;
}*/
.clanak img
{
	float:none;
	height:120px;
	width:200px;
	margin-left:20px;
}

.clanak h4
{
	color: yellow;
}


/*.Vijesti2 
{
	position: relative;
    left: 120px;
    background-color: #0012CA;
    padding: 10px 10px 1650px 5px;
    color: white;
	border: 2px solid black;
    width: 35%;
	height:777px;
	display:inline-block;
}
*/
.vijesti
{
position: relative;
    left: 120px;
    background-color: #0012CA;
    padding: 10px 10px 150px 5px;
    color: white;
	border: 2px solid black;
    width: 35%;
	height:27px;
	display:inline-block;
	height:110px;
	margin: 5px 5px 5px 5px;
}

.vijesti img{
	width: 150px;
height: 100px;
}

.formaZaOdabiranjeNovosti
{
	color: yellow;
    background-color: blue;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20%;
    padding: 38px 70px 28px 38px;
    width: 260px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}


.centar{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	height:100%;
}

#sredina
{


}