html{
    position: relative;
    min-width: 100%;
	min-height:100%;
}


body {
	background-color:#c0c0c0;
	position:relative;
	font-family:Rockwell;
	margin: 0px;
	padding: 0px;
}


/*------Meni sa logom i podstranicama-----*/
.meni {
	background-color: #606060;
	position: fixed;
	height:30%;
	width:100%;
	z-index: 110;
}

.meni ul {
	background-color: #606060;
	display:block;
	position:absolute;
	list-style-type: none;
	padding-top:5px;
	margin-top:10%;
	min-width:100%;
}

.meni li {
	float:left;
	display:inline;
	text-align:center;
	padding-bottom:15px;
	padding-top:15px;
	padding-right:15px;
	padding-left:15px;
	border-radius:3px;
}

.meni a {
	font-family:Rockwell;
	font-size:25px;
	text-decoration:none;
	color:#c0c0c0;
}

.meni a:hover {
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	border-radius:3px;
	background-color:black;
}

.aktivna {
	font-family:Rockwell;
	font-size:25px;
	text-decoration:none;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	border-radius:3px;
	background-color:#00CC66;
	color:black;
}

/*---Sredina stranice----*/
.sredina {
	background-color:#c0c0c0;
	width:100%;
	padding-top:15%;
	background-color:#c0c0c0;
	overflow:hidden;
	overflow-y:auto;
	z-index:0;
	margin:0;
}


.kolona-lijeva {
	width:70%;
	height:100%;
	float:left;
	padding:5px 15px;
}

#odabirFiltera {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:5px;
	width: 35%;
	font-family: Arial;
	font-size: 16px;
}

#odabirFiltera select {
	font-size: 16px;
}


h3 {
	font-family:Rockwell;
	font-size:20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.vijest {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
}

.vijest img{
	float:right;
	width:20%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.vijest p {
	font-family:Arial;
	font-size:16px;
}

#v1,#v2,#v3,#v4,#v5,#v6,#v7,#v8,#v9,#v10,#v11,#v12,#v13{
}

.kolona-desna {
	width:25%;
	height:10%;
	float:right;
	margin-top:5%;
}

.red-desne {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}

.red-desne p {
	font-family:Arial;
	text-align:center;
	font-size:18px;
	margin-right:20%;
}

.komentarWrap{
	margin-top:10%;
	height: 100%;
	width:100%;
	margin-right:20%;
}

#klabela{
	font-family:Arial;
	font-size:18px;
	text-align:center;
	width:20%;
	padding-bottom: 5px;
}

#komentar{
	padding-top: 5px;
	margin-top:50px;
	margin-left:8%;
	height: 70%;
	width:70%;
	font-family:Arial;
	font-size:16px;
}


#dugme {
	padding:10px 10px;
	height:40px;
	margin-top:10%;
	margin-left:8%;
	text-align:center;
	font-size:18px;
}

#onNaslov {
	padding-top: 5%;
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: Rockwell;
	font-size:20px;
	font-weight: bold;
}


/*----------cjenovnik--------*/
#cjNaslov {
	padding-top: 5%;
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: Rockwell;
	font-size:20px;
	font-weight: bold;
}

#tabela {
	font-family:Arial;
	border:2px solid;
	width:80%;
	height:80%;
	margin-right:10%;
	margin-left:10%;
	text-align:center;
	padding:2px;
}

#tabela th{
	background-color:#00CC66;
	padding:10px;
}

#tabela tr {
	background-color:#606060;
}

#tabela td{
	padding:12px;
}

.parni {
	background-color:gray;
}


/*--------kontakt-----*/
#forma {
	font-family:Rockwell;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
	background-color:#606060;
	padding-bottom:20px;
	padding-top:20px;
	padding-left:20px;
	padding-right:0px;
	border-radius:5px;
	border:3px solid;
}

input {
	height:25px;
	width:70%;
	font-size:20px;
	margin-left:120px;
	margin-right:auto;
}

textarea {
	width:85%;
	height:100px;
	font-size:20px;
	margin-bottom:10px;
	margin-left:10px;
}

label {
	position:absolute;
	height:25px;
	width:10%;
	font-size:20px;
	margin-left:5px;
}

#button1 {
	width:100px;
	height:30px;
	margin-left:40px;
	border-radius:4px;
}

#button2 {
	width:100px;
	height:30px;
	border-radius:4px;
	margin-left:40px;
}

/*------linkovi------*/
#linkovi {
	padding-top:80px;
	width:35%;
	margin-left:32.5%;
	list-style:none;
}

#linkovi li {
	font-size:16px;
	height : 60px;
	border:2px solid white;
	margin:10px;
	text-align:center;
}
 #linkovi a {
	font-family:Rockwell;
	text-decoration:none;
	color:black;
	text-align:center;
}
 
 #linkovi img {
	width :50px;
	height:50px;
	float:left;
	display:none;
}

#linkovi a:hover{
	font-weight:bold;
}

 #linkovi a:hover img {
 display:block;
 }

/*----LOGIN----*/
#buttonLogin {
	width:100px;
	height:30px;
	margin-left:40%;
	border-radius:4px;
}

/*----unosNovosti----*/
#lblnovaN {
	font-family:Arial;
	font-size:18px;
	text-align:center;
	width:100%;
	padding-bottom: 5px;
}

#txtnovaN{
	width:90%;
	font-family:Arial;
	font-size:16px;
}

